.cart{
    margin-top: 100px;
}

.cart_items_title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw,12px);

}

.cart_item_item{
    margin: 10px 0;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
}


.cart_item_item img{
    width: 50px;
}

.cart hr{
    border: none;
    background-color: #e2e2e2;
    height: 1px;
}

.cross{
    cursor: pointer;
}